*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.header{
    background: rgb(67, 108, 5);
    padding: 80px;
    text-align: center;
    color: aliceblue;
}

.nav-bar{
    display: flex;
    justify-content: center;
    background:black;

}

.nav-bar a{
    color: aliceblue;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.corpo{
    display: flex;
    flex-flow: row wrap;
}

.card{
    flex: 48%;
    background: grey;
    height: 300px;
    margin: 1%;
}

/*mudar cor qdo mouse estiver encima*/
.nav-bar a:hover{
    background:grey;
    color: black;
    font-weight: bold;
}

/*qdo tamanho estiver pequeno mudar exibição menu*/
@media screen and (max-width:700px) {
    .nav-bar{
        flex-direction: column;
    }
}